chromedriver
keyring
# mintapi
readchar
selenium
python-dotenv
requests # Temporary while using local mintapi.
selenium-requests # Temporary while using local mintapi.
xmltodict # Temporary while using local mintapi.
